@import 'variables';

:host {
  .svg-icon-container {
    ::ng-deep {
      svg {
        width: var(--width);
        height: var(--height);
      }
    }
  }

  &.primary {
  ::ng-deep {
      svg {
        path {
          fill: $dark-blue;
        }
      }
    }
  }

  &.secondary {
    ::ng-deep {
        svg path {
          fill: $yellow;
        }
      }
    }
}
