@import "variables";

:host {
  display: flex;
	.svg-icon-container {
    display: flex;
		::ng-deep {
			svg {
				width: var(--width);
				height: var(--height);

				path {
					fill: $dark-gray;
				}
			}
		}
	}

  &.primary {
		.svg-icon-container {
			::ng-deep {
				svg {
					path {
						fill: $dark-blue;
					}
				}
			}
		}
	}

	&.secondary {
		.svg-icon-container {
			::ng-deep {
				svg path {
					fill: $yellow;
				}
			}
		}
	}

  &.gray {
		.svg-icon-container {
			::ng-deep {
				svg {
					path {
						fill: $dark-blue;
					}
				}
			}
		}
	}
}
