<div class="sidebar-header">
  <h2>Filters</h2>
  <img (click)="onClose()" src="assets/images/close.svg" alt="">
</div>

<div class="sidebar-content">
  <div class="type-filters">
    @for (type of typeFilters; track $index) {
      <div class="type-filter">
        <type-filter
        [isChecked]="type.checkboxState.isChecked"
        [value]="type.checkboxState.value"
        (checked)="onTypeFilterClick($index)">
          <p label>{{type.label}}</p>
        </type-filter>

      </div>
    }
  </div>

  <div class="height-filters">
    <h3>Height</h3>
    <div class="height-filters-inner">
      @for(pokemonHeight of heightFilters; track $index) {
        <div class="height-filter">
          <height-filter (clicked)="onHeightFilterClick($index)" [state]="{
            isSelected: pokemonHeight.isSelected,
            height: pokemonHeight.height
          }"></height-filter>
        </div>
      }
    </div>
  </div>
</div>

<div class="sidebar-footer">
  <button [theme]="'outlined'">Reset filters</button>
  <button>Apply filters</button>
</div>
