@import 'variables';
@import 'functions';

$padding: 25px 18px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;

  .close {
    cursor: pointer;
  }
}

.sidebar-content {
  padding: $padding;

  .type-filters {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .height-filters, .weight-filters {
    margin-top: 1.5rem;
    &-title {
      font-weight: normal;
      color: hex-to-rgb($color: $dark-gray, $opacity: 0.6);
    }
    &-inner {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}

.sidebar-footer {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 18px;
  padding: $padding;
}
