@import 'media-mixins';

:host {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  row-gap: 3rem;

  @include respond-to(large) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond-to(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(small) {
    grid-template-columns: repeat(1, 1fr);
  }
}
