
@mixin pokemon-card-color() {
  .pokemon-card {
    background-color: $normal-background;
  }
  &[type='grass'] {
    .pokemon-card {
      background-color: $grass-background;
    }
  }
  &[type='fire'] {
    .pokemon-card {
      background-color: $fire-background;
    }
  }
  &[type='flying'] {
    .pokemon-card {
      background-color: $flying-background;
    }
  }
  &[type='water'] {
    .pokemon-card {
      background-color: $water-background;
    }
  }
  &[type='poison'] {
    .pokemon-card {
      background-color: $water-background;
    }
  }
  &[type='electric'] {
    .pokemon-card {
      background-color: $electric-background;
    }
  }
}

@mixin pokemon-type-color() {
  background-color: $normal-background;
  &[type='grass'], &.grass {
    background-color: $grass-background;
  }
  &[type='fire'], &.fire {
    background-color: $fire-background;
  }
  &[type='flying'], &.flying {
    background-color: $flying-background;
  }
  &[type='water'], &.water {
    background-color: $water-background;
  }
  &[type='poison'], &.poison {
    background-color: $water-background;
  }
  &[type='electric'], &.electric {
    background-color: $electric-background;
  }
}
