@import 'variables';

$padding: 1rem;

@mixin shimmer($position: null) {
  position: if($position != null, $position, relative);
  &::before {
    content: '';
    border-radius: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      #e0e0e0 25%,
      #f0f0f0 50%,
      #e0e0e0 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1s infinite;
  }
}

:host {
  &[type='grass'] {
    .pokemon-card {
      background-color: $grass-background;
    }
  }
  &[type='fire'] {
    .pokemon-card {
      background-color: $fire-background;
    }
  }
  &[type='flying'] {
    .pokemon-card {
      background-color: $flying-background;
    }
  }
  &[type='water'] {
    .pokemon-card {
      background-color: $water-background;
    }
  }
  &[type='poison'] {
    .pokemon-card {
      background-color: $water-background;
    }
  }
  &[type='electric'] {
    .pokemon-card {
      background-color: $electric-background;
    }
  }
  width: 100%;
  height: 100%;
  min-height: 150px;
}

.pokemon-card {
  background-color: $normal-background;
  border-radius: 12px;
  padding: $padding;
  position: relative;
  z-index: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.1;
  }

  .sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -3rem;

    img {
      width: 5rem;
      height: 5rem;
    }
  }

  .name {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-weight: bold;
  }

  .number {
    color: white;
    opacity: 0.8;
    font-size: 14px;
  }

  .name, .number {
    position: relative;
    top: -1rem;
  }

  .types {
    display: flex;
    gap: 0.5rem;

    svg-icon {
      width: 16px;
      height: 16px;
    }
    .type {
      background-color: yellow;
      border-radius: 12px;
      padding: 0.25rem 0.5rem;
      font-size: 14px;
      color: $dark-gray;
      display: flex;
      align-items: center;
      gap: 0.25rem;

      &[type='grass'] {
        background-color: $grass-tag;
      }
      &[type='fire'] {
        background-color: $fire-tag;
      }
      &[type='bug'] {
        background-color: $bug-tag;
      }
      &[type='poison'] {
        background-color: $poison-tag;
      }
      &[type='flying'] {
        background-image: $flying-tag;
      }
      &[type='normal'] {
        background: $normal-tag;
      }
      &[type='water'] {
        background: $water-tag;
      }
    }
  }

  .mask {
    position: absolute;
    left: -1rem;
    bottom: -2rem;
    z-index: -1;
  }
}

.skeleton-card {
  padding: $padding;
  padding-top: $padding + 2rem;
  height: 100%;
  width: 100%;
  background: #D3D4D8;
  position: relative;
  border-radius: 12px;

  .sprite-skeleton {
    position: absolute;
    background: #AAAAAA;
    width: 60%;
    height: 5rem;
    border-radius: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: -2rem;
    @include shimmer(absolute);
  }

  .info-skeleton {
    position: relative;
    .name {
      background-color: #AAAAAA;
      border-radius: 20px;
      margin-top: 2rem;
      width: 100%;
      width: 6rem;
      height: 2rem;
      position: relative;
      @include shimmer;
    }
    .number {
      margin-top: 0.5rem;
      @include shimmer;
      width: 2.5rem;
      height: 1rem;
      border-radius: 20px;
    }
  }

  .types-skeleton {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;

    .type {
      width: 5rem;
      height: 2rem;
      background-color: #AAAAAA;
      border-radius: 20px;
      @include shimmer;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
