@if (!pokemonService.isLoading()) {
  <div @enterAnimation
    class="pokemon-card"
    (click)="handlePokemonClick()"
    >
    <div class="sprite">
      <img [src]="sprite" alt="" />
    </div>
    <div class="info">
      <div class="name">
        <p>{{name}}</p>
      </div>
      <div class="number">
        <p>#{{number}}</p>
      </div>
      <div class="types">
        @for (type of pokemon()?.types; track type) {
        <div [attr.type]="type.type.name" class="type">
          <svg-icon [name]="type.type.name + '-tag'"></svg-icon>
          <p>{{getTypeName(type.type.name)}}</p>
        </div>
        }
      </div>
    </div>
    <div class="mask">
      <img src="assets/images/pokemon-card-mask.svg" alt="">
    </div>
  </div>
} @else {
  <ng-container [ngTemplateOutlet]="skeleton"></ng-container>
}

<ng-template #skeleton>
  <div class="skeleton-card">
    <div class="sprite-skeleton"></div>
    <div class="info-skeleton">
      <div class="name"></div>
      <div class="number"> </div>
      <div class="types-skeleton">
        @for (type of [1, 2]; track type) {
          <div class="type"></div>
        }
      </div>
    </div>
  </div>
</ng-template>
