@import 'variables';
@import 'media-mixins';

.input-field {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  .filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 0.5rem 1rem;
    border: 2px solid rgba($dark-gray, 0.16);
    cursor: pointer;
    border-radius: 20px;

    img {
      width: 16px;
      height: 16px;
    }
  }
}
