@import 'variables';

.input-field {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;

  .filter {
    padding: 0.5rem 1rem;
    border: 2px solid $dark-gray;
    cursor: pointer;
    border-radius: 8px;
  }
}
