
<div class="search-container">

  <svg-icon theme="primary" [name]="'pokedex-logo'"></svg-icon>

  <input-field (submit)="onSubmit()" (changed)="onTextChange($event)" [class]="'input-field'"></input-field>

  <div class="filters">
    <dropdown
    [options]="orderFilters()"
    class="dropdown"
    (optionChanged)="onDropdownOptionClicked($event)"
    ></dropdown>
    <div sidebarTrigger [content]="sidebarContent" class="filter">
      filters
    </div>
  </div>

  <div class="content">
    <pokemon-list [pokemonList]="pokemonList()" />
  </div>

</div>

<ng-template #sidebarContent>
  <filters-sidebar></filters-sidebar>
</ng-template>
