@import 'variables';
@import 'functions';

.tabs {
  background-color: white;
  border-radius: 1rem;
  color: hex-to-rgb($dark-gray);
  .tab-header {
    ul {
      padding: 0 34px 0 34px;
      list-style-type: none;
      display: flex;
      gap: 2em;
      font-weight: bold;
      border-bottom: 1px solid hex-to-rgb($dark-gray, 0.24);
      color: hex-to-rgb($dark-gray, 0.6);
      li {
        position: relative;
        cursor: pointer;
        padding-top: 24px;
        padding-bottom: 15px;
        transition: all $transition-duration ease-in-out;
        &[active] {
          color: $dark-gray;
          &:before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: $dark-blue;
            height: 5px;
            bottom: -2.5px;
          }
        }
      }
    }
  }
  .tab-content {
    padding: 20px 34px;
  }
}
