@import "variables";
@import "functions";

:host {
	display: block;
	width: fit-content;
}

.dropdown-trigger {
	border-radius: 8px;
	border: 2px solid hex-to-rgb($dark-gray, 0.16);
	padding: 0.5rem 1.25rem;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	&:hover {
		cursor: pointer;
	}

	.arrow {
		width: 16px;
		height: 16px;
    transition: all $transition-duration ease-in-out;
	}

	&.opened {
		.arrow {
			transform: rotate(-180deg);
		}
	}
}

.dropdown-options {
	border: 2px solid hex-to-rgb($dark-gray, 0.16);
	padding: 0.5rem 0.5rem;
	background: white;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	.option {
		padding: 0.5rem 0.5rem;
		border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    img {
      width: 12px;
      height: 12px;
      font-weight: bold;
    }

		&.selected {
			background-color: hex-to-rgb($dark-gray, 0.16);
		}

		&:hover {
			background-color: hex-to-rgb($dark-gray, 0.16);
			cursor: pointer;
		}
	}
}
